<div class="section section-petition-mobile-accordion" id="section-petitionMobileAccordion">
    <div id="demo-accordion" class="visible-phone">
        <section>
            <h3>Letter</h3>
            <div>
                {% include "molecules/mol-letter" %}
            </div>
        </section>
        <section>
            <h3>Supporters</h3>
            <div>
                {% include "molecules/mol-supporters" %}
            </div>
        </section>
    </div>
</div>