//
// SBX Petitions: Sections
// --------------------------------------------------


// Section: Petition Letter
.section-petition-letter {
	padding: 30px 50px 30px 30px;
	box-shadow: 0px 0px 10px #ccc;
	border-left: 30px solid #ccc;
	background: #f2f2f2;
}